@import "../../styles/settings.scss";

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 60px;

  background-color: darken($color-dark, 5%);

  .logo{
    text-decoration: none;

    i{
      padding: 20px;
      color: $color-light;
      transition: .5s;

      &::before{
        font-size: 24px;
      }
    }

    span{
      color: $color-light;
      font-size: 20px;
      font-weight: bold;
      transition: .5s;
    }

  }

  a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $color-light;
    transition: color .3s;

    &:hover{
      color: $color-success;
    }
  }

  ul{
    display: flex;
    list-style: none;

    li{
      padding: 10px 20px;
      margin-right: 20px;
    }
  }
}

.linkActive{
  color: $color-success;

    div{
      i{
        transform: scale(1.2);
      }
      span{
        font-size: 24px;
      }
    }
}